IndoorNaviWS.xcworkspace/xcuserdata
IndoorNavi/IndoorNavi.framework
UserInterfaceState.xcuserstate
IndoorNaviDemos/IndoorNaviCocoaPods/Pods/Pods.xcodeproj/xcuserdata
IndoorNaviDemos/IndoorNaviDemoDynamicFramework/IndoorNaviDemoDynamicFramework.xcodeproj/xcuserdata
IndoorNavi/build
IndoorNavi/Output
IndoorNavi/IndoorNavi.xcodeproj/xcuserdata
IndoorNavi/docs
docs.zip
